.list {
  display: flex;
  justify-content: start;
  gap: 12px;
  overflow-x: auto;
  padding: 10px;
  width: 100%;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.story img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #ff0050;
  object-fit: cover;
  filter: blur(1.1px);
}

.story span {
  font-size: 12px;
  margin-top: 4px;
}

/* Модалка */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.content {
  position: relative; /* важно для кнопок и прогресса */
  width: 96%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img {
  max-height: 70vh;
  width: 100%;
  border-radius: 12px;
}

/* Прогресс */
.progress {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  overflow: hidden;
  z-index: 10;
}

.progress div {
  height: 100%;
  background: white;
  transition: width 0.05s linear;
}

/* Лайк */
.like {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
  cursor: pointer;
  z-index: 10;
}

.like.active {
  color: red;
  transform: scale(1.2);
}

/* Закрыть */
.close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}
