.typing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff5fb;
  padding: 20px 50px;
  border-top: 20px solid #f1e6ea;
  border-bottom: 20px solid #f1e6ea;
}

.text-wrapper {
  position: relative;
  max-width: 900px;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
  position: relative;
  font-size: 32px;
  font-family: "Marck Script", cursive;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  min-height: 200px;
}

.cursor-span {
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 2px;
  vertical-align: middle;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
.feather {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  top: 0;
  left: 0;
  pointer-events: none;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
